<% layout('layouts/boilerplate')%> 

    <h1>Campground details</h1>
    <h2><%= campground.title %></h2>
    <img src="<%= campground.image %>" alt="#">
    <h2><%= campground.descriptiom %> </h2>
    <h3><%= campground.location %> </h3>
    <a href="/campgrounds/<%= campground._id%>/edit">Edit Campground</a><br>
    <a href="/campgrounds">Back Campground Site</a>
    <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
